

<div class="card">
    <div class="card-header">
        @TopContent
    </div>
    <div class="card-body">
        @BodyContent
    </div>
</div>
@code {

    [Parameter]
    public RenderFragment TopContent { get; set; }

    [Parameter]
    public RenderFragment BodyContent { get; set; }
}
