@inherits LayoutComponentBase

<PageTitle>ChildDemo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

   
        <article class="content px-4">
            @Body
        </article>
 
</div>
